@import "~bootstrap/less/bootstrap";
@import '~typopro-web/web/TypoPRO-SourceCodePro/TypoPRO-SourceCodePro-Medium.css';
@import '~typopro-web/web/TypoPRO-SourceCodePro/TypoPRO-SourceCodePro-Bold.css';
@import '~typopro-web/web/TypoPRO-SourceSansPro/TypoPRO-SourceSansPro-Bold.css';
@import '~typopro-web/web/TypoPRO-SourceSansPro/TypoPRO-SourceSansPro-Regular.css';


// bootstrap vars
@pre-bg: @body-bg;
@font-family-monospace: 'Source Code Pro', 'TypoPRO Source Code Pro', monospace;
@font-family-sans-serif: 'Source Sans Pro', 'TypoPRO Source Sans Pro', sans-serif;
@headings-font-weight: 700;

body {
  // background: lightsalmon;
}

input, textarea {
  font-family: @font-family-monospace
}

.panel {
  .panel-heading {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  &.panel-closed > .panel-heading {
    border-bottom: none;
  }
  pre.panel-body {
    margin: 0;
    border: none;
    border-radius: 0;
    // background-color: @body-bg;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

}
