#post-put-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header 
        %button.close{type: 'button', data: {dismiss: 'modal'}, aria_hidden: true} &times;
        %h.modal-title POST / PUT
      %form#put-form{role: 'form'}
        .modal-body
          %p.url
          .form-group
            %label Content-Type
            %input.content-type.form-control{type: 'text', value: 'application/json'}
          .form-group
            %label Content
            %textarea.content.form-control
              {"message": "Hello World!"}
        .modal-footer.clearfix
          %button.pull-left.btn.btn-default{type: 'button',data: {dismiss: 'modal'}} Abort
          %button.pull-right.btn.btn-warning{type: 'submit'} POST / PUT 
