#confirm-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header 
        %button.close{type: 'button', data: {dismiss: 'modal'}, aria_hidden: true} &times;
        %h.modal-title Confirm 
      %form#confirm-form{role: 'form'}
        .modal-body
        .modal-footer.clearfix
          %button.pull-left.btn.btn-default{type: 'button',data: {dismiss: 'modal'}} Abort
          %button.pull-right.btn.btn-warning{type: 'submit'} Continue
