#error-modal.modal
  .modal-dialog
    .modal-content.panel-danger
      .modal-header.panel-heading
        %button.close{type: 'button', data: {dismiss: 'modal'}, aria_hidden: true} &times;
        %h.modal-title.text-danger ERROR! 
      .modal-body
        %p
          Something unexpected happened. The following might lead to the cause: 

        %pre.source-code.small

        %p
          It is also advisable to inspect the 
          %strong console of your browser.
          There might be information to which the 
          %em JSON-ROA Browser
          has no access to. This applies in particular to 
          %strong security settings 
          and to 
          %strong 
            %em Cross-Origin Resource Sharing.


      .modal-footer
        %button.btn.btn-warning{type: 'button',data: {dismiss: 'modal'}} Dismiss
