%form#request-form(role='form')
  
  .form-group
    %label(for="request-headers") Request Headers
    %textarea#request-headers.form-control.small
      Accept: application/json-roa+json;q=1, application/json;q=0.8, text/*;q=0.5, */*;q=0.1

  .form-group
    .input-group
      %input#url.form-control.small(type="text")
      %span.input-group-btn
        %button#get.btn.btn-primary(type="submit") &nbsp; GET &nbsp; 


